@import './base.css';
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-lavyours: "Lavishly Yours", cursive;
}

#app {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
}



@media (hover: hover) {
 
}

@media (min-width: 1024px) {
 
}
